@inherits OwningComponentBase

<h3>PeopleList</h3>

<div class="form-group">
    <a href="manage" class="btn btn-primary">Manage people</a>
</div>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person p in People)
        {
            <tr class="@GetCssClass(p.Location.City)">
                <td>@p.Id</td>
                <td>@p.Surname, @p.Firstname</td>
                <td>@p.Department.Name</td>
                <td>@p.Location.City, @p.Location.State</td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <label for="city">City</label>
    <select name="city" class="form-control" @bind="SelectedCity">
        <option disabled selected>Select City</option>
        @foreach (Location location in Locations)
        {
            <option value="@location.City" selected="@(location.City == SelectedCity)">
                @location.City
            </option>
        }
    </select>
</div>


@code {

    public IPersonRepository PersonRepository { get; set; }
    public ILocationRepository LocationRepository { get; set; }

    protected override void OnInitialized()
    {
        PersonRepository = ScopedServices.GetRequiredService<IPersonRepository>();
        LocationRepository = ScopedServices.GetRequiredService<ILocationRepository>();
    }

    public IEnumerable<Person> People => PersonRepository.GetAll();
    public IEnumerable<Location> Locations => LocationRepository.GetLocations();
    public string SelectedCity { get; set; }
    public string GetCssClass(string city)
    {
        return SelectedCity == city ? "bg-info text-white" : "";
    }
}
